:root {
  --bg: #121212;
  --menu: #232323;
  --tgradient: #404040;
  --bgradient: #282828;
  --text: white;
  --text2: #B3B3B3;
}

html, body {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--bg);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text);
}